.contact-wrapper {
    background-color: whitesmoke;
    color: #fff;
    text-align: center;
    padding: 8rem 3rem;

    .subtitle {
        font-size: 1.2rem;
        margin-bottom: 2rem;
        color: #ccc;
    }

    .contact-container {
        max-width: 1200px;
        margin: 0 auto;
        background: rgba(255, 255, 255, 0.05);
        display: flex;
        border-radius: 16px;
        padding: 3rem;
        gap: 2rem;
        flex-wrap: wrap;
        background-color: rgb(40, 64, 90);

        .form-box {
            flex: 1;
            text-align: left;

            h3 {
                font-family: $font-heading;
                font-size: 2rem;
                font-weight: 700;
                margin-bottom: 1rem;
                line-height: 2.5;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .row {
                    display: flex;
                    gap: 1rem;

                    input {
                        flex: 1;
                    }
                }

                input,
                textarea {
                    background: whitesmoke;
                    border: 1px solid #333;
                    border-radius: 6px;
                    padding: 0.8rem;
                    color: black;
                    font-family: $font-heading;
                    font-size: 0.95rem;
                }


                button {
                    padding: 0.8rem 0.5rem;
                    background-color: #bac9d8;
                    border: 2px solid #36506b;
                    font-weight: 600;
                    color: black;
                    font-size: 1.1rem;
                    border-radius: 8px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    position: relative;
                    overflow: hidden;

                    &:hover {
                        filter: brightness(1.3);
                        color: #36506b;
                    }

                    &:active {
                        transform: scale(0.98);
                    }
                }
            }
        }

        .astro-box {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-end;
            width: 50%;

            img {
                max-width: 80%;
                border-radius: 8px;
            }

            .quote {
                font-size: 0.85rem;
                color: #ccc;
                font-family: $font-heading;

                span {
                    display: block;
                    margin-top: 0.5rem;
                    color: #999;
                }
            }
        }
    }
}

.modal {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background: #4ade80;
    color: #000;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-family: $font-heading;
    font-weight: 500;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

@media (max-width: 1100px) {
    .contact-wrapper {
        .contact-container {

            .form-box {
                width: 80%;



                .row {}

            }

            .astro-box {
                width: 100%;
                min-height: auto;
                margin: 0 auto;
            }
        }
    }
}


@media (max-width: 768px) {
    .contact-wrapper {


        .row {
            width: 100%;
            flex-direction: column;
        }

        .contact-container {

            .form-box {
                h3 {
                    text-align: center;
                    line-height: 2;
                    font-size: 1.5rem;
                }
            }

            .astro-box {
                width: 100%;
                min-height: auto;
                margin: 0 auto;
            }
        }
    }

    .modal {
        position: fixed;
        bottom: 10rem;
        left: 50%;
        transform: translateX(-50%);
        background: #4ade80;
        color: #000;
        padding: 1rem 2rem;
        border-radius: 8px;
        font-family: $font-heading;
        font-weight: 500;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    }
}