.books-section {
  text-align: center;
  background-color: whitesmoke;
  padding: 6rem 2rem 12rem;
  background-color: red;

  .books-title {
    font-family: $font-heading;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 4rem;
    color: rgb(54, 80, 107);
  }
  
  .books-panel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
  }

  .books-card {
    position: relative;
    width: 200px;
    height: 200px;
    margin-left: -50px;
    margin-bottom: 50px;
    transition: transform 0.3s ease;

    &:nth-child(1) {
      margin-left: 0;
    }

    &:hover {
      transform: translateY(-15px) translateX(15px);
      z-index: 10;
    }

    .circle {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 1rem;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

      img {
        width: 80px;
        margin-bottom: 0.5rem;
      }
    }

    .badge {
      position: absolute;
      top: -10px;
      left: 50%;
      transform: translateX(-50%);
      padding: 6px 15px;
      border-radius: 16px;
      font-family: $font-heading;
      font-size: 0.9rem;
      font-weight: 600;
      white-space: nowrap;
      color: #fff;
    }

    &.released .badge {
      background-color: #4a90e2;
    }

    &.releasing-soon .badge {
      background-color: #f5a623;
    }

    &.coming-soon .badge {
      background-color: #7ed321;
    }
  }
}


@media (max-width: 1024px) {
  .books-card {
    width: 180px;
    margin-left: -20px; 

    &:nth-child(2n+1) {
      margin-left: 0;
    }
  }
}

@media (max-width: 768px) {
  .books-card {
    width: 45%; 
    margin-left: -20px;

    &:nth-child(2n) {
      margin-left: -40px;
    }
  }
}

@media (max-width: 468px) {
  .books-card {
    width: 90%; 
    margin-left: 0;
    background-color: blue;

    &:nth-child(2n) {
      margin-left: 0;
    }
  }
}